<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932481984659-d9si0qgljuqjq7okturotgc4srshd50u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932481984659-d9si0qgljuqjq7okturotgc4srshd50u</string>
	<key>API_KEY</key>
	<string>AIzaSyAUIcJfanLpFjaUPutJM6cGeEfwwWJ7YOI</string>
	<key>GCM_SENDER_ID</key>
	<string>932481984659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devestandards.resturantsapp</string>
	<key>PROJECT_ID</key>
	<string>eats-and-more</string>
	<key>STORAGE_BUCKET</key>
	<string>eats-and-more.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932481984659:ios:d208a2749d0b62fb22c566</string>
	<key>DATABASE_URL</key>
	<string>https://eats-and-more.firebaseio.com</string>
</dict>
</plist>